.main-header {
    color: purple;
    text-align: center;
    
}

/*first paragraph*/

.firstpar {
    text-align: center;
}

.startbtnbox {
    text-align: center;
}

.startbtn {
    text-align: center;
    font-size: 22px;
}