.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    text-align: center;
    justify-content: center;
    flex: 1 0 auto;
    margin-left:200px;
    margin-right:200px;
}

.startscreen {
    display: block;
}

.question-page {
    display: block;
    display: none;
}

.submit-page {
    display: block;
    display: none;
}

.highscore-page {
    display: block;
    display: none;
}

#incorrect {
    display: inline;
    display: none;
}

#correct {
    display: inline;
    display: none;
}