.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    text-align: center;
    justify-content: center;
    flex: 1 0 auto;
    margin-left:200px;
    margin-right:200px;
}

body {
    background-color: lightgreen;
}

.startscreen {
    display: block;
    background-color: lightblue;
}

.question-page {
    display: block;
    display: none;
}

.submit-page {
    background-color: lightblue;
    display: block;
    display: none;
}

#highscore-page {
    background-color: lightblue;
    display: block;
    display: none;
}

#incorrect {
    display: inline;
    display: none;
}

#correct {
    display: inline;
    display: none;
}

.error {
    display: block;
    display: none;
}

.correct {
    display: block;
    display: none;
}

li {
    list-style: none;
}